@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loginBG {
  background-image: url('/framebg.jpg');
}

.gradient-bg {
  background: linear-gradient(135deg, #0F4A99, #38B6FF);
}